footer {
    z-index: 0;
    height: 120px;
    background-color: rgba(189, 189, 189, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -webkitt-linear-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    padding: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 40px;
}
